.nihao {
	/* 表格 */
	/* top: 50%;
	left: 20%; */
	/* margin-top:40px;
	margin-left:40px; */
	/* border: 1px solid #000; */
	border-collapse: collapse;
	/* 表格间空白无 */
	/* float:left; */
	border: 1;
	height: 400px;
	width: 800px;
	text-align: center;
	margin: 0 auto;
	font-size: larger;
	/* display: inline; */
}

.nihao tr td,
th {
	/* 所有表格加边框 */
	border: 1px solid #000;
}

#a1 {
	/* 躺图 */
	width: 300px;
}


#tang {
	/* 躺表格 */
	width: 300px;

	border-left: none;
	/* 左边框线; */
	border-right: none;
	/* 右边框线; */
	border-top: none;
	/* 上边框线; */
	border-bottom: none;
	/* 下边框线; */

	/* border: 0px solid #000; */
}

#kongbai {
	/* 躺表格 */
	width: 50px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	/* border: 0px solid #000; */
}


a {
	text-decoration: none;
}

body {
	font: 13px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #555;
	font-size: 14px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.topbarwrapper {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #333333;
}

.topbar {
	position: relative;
}

.topbar a {
	font-size: 12px;
	color: #b0b0b0;
	display: block;
}

.topbar li {
	float: left;
}

.topbar .line {
	color: #424242;
	font-size: 12px;
	margin: 0 8px;

}

.w {
	width: 1226px;
	margin: 0 auto;
}



.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.service,


ol,
ul,
li {
	list-style: none;
}

.service,




.service,
.topbar li {
	float: left;
}